.operation-indicator-container {
  height: var(--operation-indicator-container-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.operation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 100%;
  background: var(--btn-disabled-1);
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid var(--border-1);
  color: var(--text-mid-grey);
  padding: 5px;
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.active-operation {
  background: var(--btn-focus-3);
  color: var(--text-1);
  border: 1px solid var(--border-1);
}

.active-get-by-id-op {
  color: var(--op-get-by-id);
  border: 1px solid var(--border-1);
}

.active-post-op {
  color: var(--op-post);
  border: 1px solid var(--border-1);
}

.active-put-op {
  color: var(--op-put);
  border: 1px solid var(--border-1);
}

.active-patch-op {
  color: var(--op-patch);
  border: 1px solid var(--border-1);
}

.active-delete-op {
  color: var(--op-delete);
  border: 1px solid var(--border-1);
}

/* for each operation - op btn is active and hovered */

.hover-get-by-id-op {
  color: var(--op-get-by-id-vibe);
}

.hover-post-op {
  color: var(--op-post-vibe);
}

.hover-delete-op {
  color: var(--op-delete-vibe);
}

.hover-patch-op {
  color: var(--op-patch-vibe);
}

.hover-put-op {
  color: var(--op-put-vibe);
}

/* any operation btn is active and hovered */
.active-op-indicator-hover {
  background: var(--btn-focus-5);
  border: 1px solid var(--border-contrast-2);
}

/* any operation btn is NOT active but hovered */
.inactive-op-indicator-hover {
  background: var(--btn-focus-0);
  border: 1px solid var(--border-contrast-1);
}

/* for each operation - op btn is NOT active and hovered */

.get-by-id-op-mute {
  color: var(--op-get-by-id-mute);
}

.post-op-mute {
  color: var(--op-post-mute);
}

.delete-op-mute {
  color: var(--op-delete-mute);
}

.patch-op-mute {
  color: var(--op-patch-mute);
}

.put-op-mute {
  color: var(--op-put-mute);
}
