.status-label {
  width: 66px;
  height: var(--single-status-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-1);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  margin: var(--above-single-status-spacing) 0
    var(--below-single-status-spacing);
}

.status-group-none {
  background: var(--status-none);
  color: var(--status-text-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.status-group-info {
  background: var(--status-info);
  color: var(--status-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.status-group-ok {
  background: var(--status-ok);
  color: var(--status-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.status-group-redirect {
  background: var(--status-redirect);
  color: var(--status-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.status-group-error {
  background: var(--status-error);
  color: var(--status-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.status-group-server {
  background: var(--status-server);
  color: var(--status-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.update-form-btns {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 1.2rem;
}

.update-btn {
  width: 12rem;
  height: 3rem;
}

.confirm-delete-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
