.single-item-details {
  list-style-type: none;
  padding-left: 20px;
  word-break: break-word;
}

.response-object-container {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  scrollbar-width: auto;
  position: relative;
  height: var(--single-item-display-height);
}

.response-object-panel {
  background: var(--background-2);
  padding: 15px 0 20px;
  border: 1px solid var(--border-mute-2);
}

.response-object-container::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background-1);
}

.response-object-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

.response-object-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
  border-radius: 4px;
}

@supports (scrollbar-color: auto) {
  .response-object-container {
    scrollbar-color: var(--background-1) var(--background-1);
  }
  .response-object-container:hover {
    scrollbar-color: var(--scrollbar) var(--background-1);
  }
}
