.item-btns {
  display: flex;
  flex-direction: column;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
  white-space: normal;
}

.item-details p {
  margin: 0.3rem 0.8rem 0.3rem 0;
}

.unfocussed-item-btn {
  background: var(--btn-inactive-1);
  color: var(--text-mute-2);
}

/* Item panel is hovered - ONLY has effect if panel is NOT unfocussed */

.hover-item-panel {
  background: var(--background-hover-1);
}

/* Item panel is focussed - overrides hovered panel */

.focus-item-panel {
  background: var(--background-focus-1);
}

/* hovered but NOT focussed for each button */

.hover-view-item-btn {
  color: var(--op-get-by-id-mute);
}

.hover-patch-item-btn {
  color: var(--op-patch-mute);
}

.hover-put-item-btn {
  color: var(--op-put-mute);
}

.hover-delete-item-btn {
  color: var(--op-delete-mute);
}

/* focussed but NOT hovered for each button */

.focus-view-item-btn {
  color: var(--op-get-by-id);
}

.focus-patch-item-btn {
  color: var(--op-patch);
}

.focus-put-item-btn {
  color: var(--op-put);
}

.focus-delete-item-btn {
  color: var(--op-delete);
}

/* hovered but NOT focussed for ALL buttons */

.hover-item-btns {
  background: var(--btn-inactive-hover-1);
  border: 1px solid var(--border-contrast-1);
}

/* focussed but NOT hovered for ALL buttons */

.focus-item-btns {
  background: var(--btn-focus-2);
  border: 1px solid var(--border-contrast-1);
}

/* focussed and hovered for each item button */

.hover-focus-view-item-btn {
  color: var(--op-get-by-id-vibe);
}

.hover-focus-create-item-btn {
  color: var(--op-post-vibe);
}

.hover-focus-put-item-btn {
  color: var(--op-put-vibe);
}

.hover-focus-patch-item-btn {
  color: var(--op-patch-vibe);
}

.hover-focus-delete-item-btn {
  color: var(--op-delete-vibe);
}

/* focussed and hovered for ALL item button */

.hover-focus-item-btns {
  background: var(--btn-focus-3);
  border: 1px solid var(--border-contrast-2);
}
