.item-btns {
  display: flex;
  flex-direction: column;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
  white-space: normal;
}

.item-details p {
  margin: 0.3rem 0.8rem 0.3rem 0;
}

.focus-item-panel {
  background: var(--background-focus-1);
  transition: background var(--color-trans) ease;
}

.hover-item-panel {
  background: var(--background-hover-1);
  transition: background var(--color-trans) ease;
}
