.url-form {
  height: var(--form-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title-wrapper {
  width: 210px;
  margin-left: 100px;
}

.form-input-wrapper {
  width: 900px;
  justify-content: flex-start;
}

.url-form-title {
  font-size: var(--url-form-title);
  margin-right: var(--nav-title-margin-right);
  color: var(--text-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-input {
  width: 450px;
  height: var(--form-input-height);
  font-size: 0.9rem;
  padding: 5px 10px;
  margin: 5px;
  background: var(--background-3);
  color: var(--text-1);
  border: 1px solid var(--border-1);
  border-radius: var(--form-border-radius);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.combined-input {
  width: var(--combined-url-input-width);
}

.url-btn-container {
  display: flex;
}

/* BASE URL FORM SPECIFIC */

.local {
  background: var(--btn-option-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.deployed {
  background: var(--btn-option-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

/* COMPLETE URL FORM SPECIFIC */

.url-overlay-container {
  position: relative;
  /*height: var(--form-input-height);*/
  /*padding: 5px;*/
}

.url-overlay {
  /*background: var(--btn-option-1);*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  height: var(--form-input-height);
  border: 1px solid transparent;
  border-radius: var(--form-border-radius);
  pointer-events: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 5px;
}

.space-left-18 {
  margin-left: 10px;
}

.hidden-input-element {
  color: transparent;
  caret-color: var(--white);
  background: var(--background-3);
  /*border: 1px solid transparent;*/
}

#complete-url-text {
  font-size: var(--full-url-font-size);
}

.base-url-text {
  color: var(--base-url-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-endpoint-text {
  color: var(--url-endpoint-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-id-param-text {
  color: var(--url-id-param-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-query-param-text {
  color: var(--url-query-param-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}
