.url-components-container {
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background: var(--background-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-form {
  height: var(--form-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-form-title {
  font-size: var(--url-form-title);
  margin-right: var(--nav-title-margin-right);
  color: var(--text-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-input {
  width: 450px;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px;
  background: var(--background-2);
  color: var(--text-1);
  border: 1px solid var(--border-1);
  border-radius: 5px;
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-btn-container {
  display: flex;
}

/* BASE URL FORM SPECIFIC */

.local {
  background: var(--btn-option-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.deployed {
  background: var(--btn-option-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

/* COMPLETE URL FORM SPECIFIC */

#complete-url-text {
  font-size: var(--full-url-font-size);
}

.base-url-text {
  color: var(--base-url-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-endpoint-text {
  color: var(--url-endpoint-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-id-param-text {
  color: var(--url-id-param-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-query-param-text {
  color: var(--url-query-param-text);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}
