.btn {
  padding: 0.5rem;
  background: var(--btn-passive-1);
  border: 1px solid var(--border-1);
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  color: var(--text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.btn-space-above {
  margin-top: 0.5rem;
}

.red-btn {
  background: var(--btn-warning-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
  padding: 0.2rem;
  line-height: 0.8rem;
}

.confirm-delete-btn {
  background: var(--op-delete);
  height: var(--single-status-height);
  width: var(--wide-btn);
  margin: var(--above-single-status-spacing) auto
    var(--below-single-status-spacing);
  font-size: 1rem;
  text-align: center;
}

.confirm-delete-btn-hover {
  background: var(--op-delete-vibe);
  border: 1px solid var(--border-contrast-2);
}

.inactive-btn {
  background: var(--btn-inactive-1);
  color: var(--text-mute);
}

.disabled {
  background: var(--btn-disabled-1);
  color: var(--text-mid-grey);
  cursor: not-allowed;
  border: 1px solid var(--border-mute);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}
