.btn {
  padding: 0.5rem;
  background: var(--btn-passive-1);
  border: 1px solid var(--border-1);
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  color: var(--btn-text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.btn-space-above {
  margin-top: 0.5rem;
}

.warning-btn {
  background: var(--btn-warning-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
  padding: 0.2rem;
  line-height: 0.8rem;
}

.confirm-delete-btn {
  background: var(--btn-warning-1);
  color: var(--text-warning-1);
  border: 1px solid var(--grey-550);
  height: var(--single-status-height);
  width: var(--wide-btn);
  margin: var(--above-single-status-spacing) auto
    var(--below-single-status-spacing);
  font-size: 1rem;
  text-align: center;
}

.confirm-delete-btn-hover {
  background: var(--op-delete-warning);
  border: 1px solid var(--border-contrast-2);
}

.inactive-btn {
  background: var(--btn-inactive-1);
  color: var(--text-mute-1);
}

.disabled {
  background: var(--btn-disabled-1);
  color: var(--text-mid-grey);
  cursor: not-allowed;
  border: 1px solid var(--border-mute);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.item-btn {
  padding: 2px;
}

.item-btn-font {
  font-size: 1.1rem;
  /*font-family: 'Roboto Flex', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  font-variation-settings:
    'slnt' -10,
    'wdth' 25,
    'wght' 300;
}

.operation-btn-font {
  font-size: 1.1rem;
  /*font-family: 'Roboto Flex', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  font-variation-settings:
    'slnt' -10,
    'wdth' 105,
    'wght' 600;
  line-height: 1;
}

.operation-btn-font-thicker {
  font-variation-settings:
    'slnt' -10,
    'wdth' 105,
    'wght' 700;
}

.btn-hovered {
  background: var(--background-2);
  border: 1px solid var(--btn-option-1);
  color: var(--btn-option-2);
}

.disabled:hover {
  color: var(--text-mute-0);
  border: 1px solid var(--border-mute-2);
}
