.btn {
  padding: 0.5rem;
  background: var(--btn-passive-1);
  border: 1px solid var(--border-1);
  border-radius: 5px;
  width: 11rem;
  cursor: pointer;
  color: var(--text-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.active-btn {
  background: var(--btn-focus-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.bottom-btn {
  margin-top: 0.5rem;
}

.red-btn {
  background: var(--btn-warning-1);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
  padding: 0.2rem;
  line-height: 0.8rem;
}

.disabled {
  background: var(--btn-disabled-1);
  color: var(--text-1);
  cursor: not-allowed;
  border: 1px solid var(--grey-350);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}
