#base-url-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

#base-url-title {
  color: #ddd;
}

#base-url-input {
  width: 450px;
  font-size: 1rem;
  padding: 10px;
  margin: 10px 40px 10px 10px;
}

.base-url-btns {
  height: 40px;
  width: 120px;
  margin: 5px;
}

.base-url-btn-container {
  display: flex;
}

.local {
  background: #afe6e8;
}

.deployed {
  background: #90b7ea;
}
