#base-url-form {
  height: var(--form-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  border: 1px solid #ccc;
}

#base-url-title {
  color: #ddd;
  font-size: var(--url-form-title);
  margin-right: var(--nav-title-margin-right);
}

.url-input {
  width: 450px;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px;
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
}

.base-url-btn-container {
  display: flex;
}

.local {
  background: #afe6e8;
}

.deployed {
  background: #90b7ea;
}
