.btn {
  padding: 0.5rem;
  background: #baf4ca;
  border: 1px solid #2e3843;
  border-radius: 5px;
  width: 8rem;
}

.deselect {
  background: #bad5f4;
}

.bottom-btn {
  margin-top: 0.5rem;
}

.red-btn {
  background: #f4baba;
}
