.btn {
  padding: 0.5rem;
  background: var(--btn-ready-1);
  border: 1px solid #2e3843;
  border-radius: 5px;
  width: 11rem;
  cursor: pointer;
}

.active-btn {
  background: var(--focus);
}

.bottom-btn {
  margin-top: 0.5rem;
}

.red-btn {
  background: var(--btn-warning-1);
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
  padding: 0.2rem;
  line-height: 0.8rem;
}

.disabled {
  background: var(--grey-150);
  color: var(--grey-350);
  cursor: not-allowed;
  border: 1px solid var(--grey-350);
}
