.btn {
  padding: 0.5rem;
  background: #baf4ca;
  border: 1px solid #2e3843;
  border-radius: 5px;
  width: 11rem;
  cursor: pointer;
}

.active-btn {
  background: #bad5f4;
}

.bottom-btn {
  margin-top: 0.5rem;
}

.red-btn {
  background: #f4baba;
}

.url-btn {
  height: var(--form-btn-height);
  width: 120px;
  margin: 5px;
  padding: 0.2rem;
  line-height: 0.8rem;
}

.disabled {
  background: #939393;
  color: #cccccc;
  cursor: not-allowed;
}