#complete-url-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--panel-background-1);
  padding: 10px;
  margin: 15px auto 10px;
}

#complete-url-title {
  color: #222;
  font-size: var(--url-form-title);
  margin-right: 30px;
}

#complete-url-text {
  color: #444;
  font-size: var(--full-url-font-size);
}

.base-url-text {
  color: #0d35f3;
}

.url-endpoint-text {
  color: #c51414;
}

.url-id-param-text {
  color: #0d8e0f;
}

.url-query-param-text {
  color: #8414af;
}
