#complete-url-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  padding: 10px;
}

#complete-url-title {
  color: #222;
  margin-right: 30px;
}

#complete-url-text {
  color: #444;
  font-size: 1.4rem;
}

.base-url-text {
  color: #0d35f3;
}

.url-endpoint-text {
  color: #c51414;
}

.url-id-param-text {
  color: #0d8e0f;
}

.url-query-param-text {
  color: #8414af;
}
