#url-query-params-form {
  width: 100%;
  height: var(--form-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  padding: 10px;
  border: 1px solid #ccc;
}

#url-query-params-title {
  color: #ddd;
  font-size: var(--url-form-title);
  margin-right: var(--nav-title-margin-right);
}

#url-query-params-text {
  color: #ccc;
  font-size: 1.4rem;
}
