.main-page-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

#list-container {
  border: 1px solid #bbb;
  padding: 0 20px;
  border-radius: 25px;
}

.item-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 15px;
  margin: 30px 10px;
}

#single-item-container {
  border: 1px solid #bbb;
  padding: 30px;
  border-radius: 25px;
}
