#app {
  min-height: 100vh;
  background-color: var(--background-1);
  color: var(--text-1);
  /*transition: background var(--color-trans) ease, color var(--color-trans) ease;*/
  transition: background var(--color-trans) ease;
}

.main-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#list-container {
  width: 45%;
  padding: 0 20px;
  border-radius: 25px;
  margin-left: var(--panel-side-margin);
  margin-bottom: var(--panel-side-margin);
}

.item-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: var(--background-3);
  border: 1px solid var(--border-1);
  border-radius: 15px;
  margin: 30px 10px;
  /*transition: background var(--color-trans) ease, color var(--color-trans) ease;*/
  transition: background var(--color-trans) ease;
}

#operation-panel {
  width: 45%;
  padding: 30px;
  border-radius: 25px;
  margin-right: var(--panel-side-margin);
  margin-bottom: var(--panel-side-margin);
}

#single-item-operation-container {
  line-height: 1.5;
}

.form-text {
  color: var(--white-100);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.error-message {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.spacer {
  line-height: 0.6;
}

.wrap-text {
  white-space: pre-wrap;
}

.invert {
  filter: invert(1);
}

.mono {
  font-family: 'Inconsolata', serif;
  font-weight: 300;
  font-stretch: 20%;
  font-variation-settings: 'wdth' 100;
}

.mono-bold {
  font-family: 'Inconsolata', serif;
  font-weight: 500;
}

.pad-left {
  padding-left: var(--padding-1);
}

.inconsolata {
  font-family: 'Inconsolata', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
