.main-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#list-container {
  width: 45%;
  border: 1px solid #bbb;
  padding: 0 20px;
  border-radius: 25px;
  margin-left: var(--panel-side-margin);
}

.item-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 15px;
  margin: 30px 10px;
}

#operation-panel {
  width: 45%;
  border: 1px solid #bbb;
  padding: 30px;
  border-radius: 25px;
  margin-right: var(--panel-side-margin);
}

#single-item-container {
  /*width: 45%;*/
  border: 1px solid #bbb;
  padding: 30px;
  border-radius: 25px;
  margin-right: var(--panel-side-margin);
}

.form-text {
  color: #eee;
}

.error-message {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.spacer {
  line-height: 0.6;
}

.wrap-text {
  white-space: pre-wrap;
}
