:root {
  /*  NAV FORMS  */
  --url-form-title: 1.3rem;
  --nav-title-margin-right: 15px;
  --form-height: 50px;
  --form-input-height: 35px;
  --form-btn-height: 35px;
  --full-url-font-size: 1rem;
  --form-border-radius: 5px;

  /* SECTION HEIGHTS for calculating scroll box heights */
  --nav-height: 70px;
  --url-components-section-height: 290px;
  --main-section-top-margin: 30px;
  --all-above-list-height: calc(
    var(--nav-height) + var(--url-components-section-height) +
      var(--main-section-top-margin) + 26px
  );

  --operation-indicator-container-height: 48px;
  --above-single-status-spacing: 30px;
  --single-status-height: 34px;
  --below-single-status-spacing: 25px;
  --all-above-single-item-operation-display: calc(
    var(--all-above-list-height) + var(--operation-indicator-container-height) +
      var(--above-single-status-spacing) + var(--single-status-height) +
      var(--below-single-status-spacing)
  );

  --list-height: calc(100vh - var(--all-above-list-height));
  --single-item-display-height: calc(
    100vh - var(--all-above-single-item-operation-display)
  );

  /*  ITEM SECTION  */
  --main-panel-bottom-margin: var(--main-section-top-margin);
  --main-centre-spacer: 30px;
  --message-space-margin-1: 20px;

  --page-width: 90%;
  --combined-url-input-width: 850px;

  --padding-1: 3px;

  --color-trans: 0.3s;
}

.border-primary {
  border: 1px solid var(--border-1);
  border-radius: 1rem;
}

.panel-primary {
  background: var(--background-3);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.whole-width-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-3);
  padding: 10px;
  margin: 15px auto 10px;
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.message-spacing {
  margin-top: var(--message-space-margin-1);
}

.loading-container {
  display: flex;
  justify-content: center;
}
