:root {
  /*  NAV FORMS  */
  --url-form-title: 1.3rem;
  --nav-title-margin-right: 15px;
  --form-height: 50px;
  --form-btn-height: 35px;
  --full-url-font-size: 1rem;

  /*  ITEM SECTION  */
  --main-panel-bottom-margin: 30px;
  --main-centre-spacer: 30px;
  --message-space-margin-1: 20px;

  --page-width: 90%;
  /*--page-width: 1000px;*/

  --padding-1: 3px;

  --color-trans: 0.3s;
}

.border-primary {
  border: 1px solid var(--border-1);
  border-radius: 1rem;
}

.panel-primary {
  background: var(--background-2);
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.whole-width-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-2);
  padding: 10px;
  margin: 15px auto 10px;
  transition:
    background var(--color-trans) ease,
    color var(--color-trans) ease;
}

.message-spacing {
  margin-top: var(--message-space-margin-1);
}

.loading-container {
  display: flex;
  justify-content: center;
}
