[data-theme="light"] {
    --background: var(--grey-blue-150);
    --panel-background-1: var(--white-100);

    --border-1: var(--grey-200);

    --btn-ready-1: var(--green-250);
    --btn-ready-2: var(--green-blue-250);
    --btn-ready-3: var(--blue-250);
}

[data-theme="dark"] {
    --background: var(--grey-1000);
    --panel-background-1: var(--grey-1100);
    --text-primary: var(--grey-200);

    --border-1: var(--grey-500);

    --btn-ready-1: var(--green-900);
    --btn-ready-2: var(--green-blue-900);
    --btn-ready-3: var(--blue-900);
}