[data-theme='light'] {
  --background-1: var(--warm-grey-100);
  --background-2: var(--white);
  --background-3: var(--white-100);
  --background-focus-1: var(--white-50);
  --background-hover-1: var(--warm-grey-50);

  --text-1: var(--grey-1100);
  --text-2: var(--grey-1000);
  --text-3: var(--grey-900);
  --text-4: var(--grey-500);
  --btn-text-1: var(--grey-450);
  --btn-text-2: var(--grey-350);
  --text-contrast: var(--black);
  --text-mid-grey: var(--grey-200);
  --text-mute-0: var(--grey-250);
  --text-mute-1: var(--grey-350);
  --text-mute-2: var(--grey-550);
  --text-warning-1: var(--grey-150);

  --border-0: var(--grey-150);
  --border-1: var(--grey-200);
  --border-mute: var(--grey-150);
  --border-mute-2: var(--grey-175);
  --border-contrast-0: var(--grey-175);
  --border-contrast-1: var(--grey-250);
  --border-contrast-2: var(--grey-300);

  --op-border-1: var(--grey-250);
  --get-by-id-op-border: var(--GET-light-border);
  --post-op-border: var(--POST-light-border);
  --put-op-border: var(--PUT-light-border);
  --patch-op-border: var(--PATCH-light-border);
  --delete-op-border: var(--DELETE-light-border);

  --btn-passive-1: var(--white-100);
  --btn-passive-2: var(--white-100);
  --btn-passive-3: var(--white-100);
  --btn-passive-1-hover: var(--white-100);
  --btn-warning-1: var(--grey-750);
  --btn-focus-0: var(--grey-1000);
  --btn-focus-1: var(--grey-1030);
  --btn-focus-2: var(--white-50);
  --btn-focus-3: var(--white);
  --btn-focus-4: var(--grey-1100);
  --btn-focus-5: var(--grey-1120);
  --btn-inactive-1: var(--warm-grey-100);
  --btn-inactive-hover-1: var(--warm-grey-50);
  --btn-inactive-hover-2: var(--grey-75);
  --btn-disabled-1: var(--grey-100);
  --btn-option-1: var(--orange-mud-200);
  --btn-option-2: var(--orange-mud-800);

  --op-btn-focus-2: var(--warm-grey-25);
  --op-btn-focus-3: var(--grey-1080);
  --op-btn-focus-4: var(--white);

  --base-url-text: var(--blue-500);
  --url-endpoint-text: var(--red-500);
  --url-id-param-text: var(--green-500);
  --url-query-param-text: var(--magenta-800);

  --status-none: var(--grey-200);
  --status-info: var(--blue-550);
  --status-ok: var(--green-400);
  --status-redirect: var(--purple-700);
  --status-error: var(--red-400);
  --status-server: var(--red-800);
  --status-text-1: var(--white);
  --status-text-2: var(--grey-1200);

  --scrollbar: var(--grey-100);
  --scrollbar-hover: var(--grey-150);

  --op-get-by-id-vibe: var(--GET-light-vibe);
  --op-post-vibe: var(--POST-light-vibe);
  --op-put-vibe: var(--PUT-light-vibe);
  --op-patch-vibe: var(--PATCH-light-vibe);
  --op-delete-vibe: var(--DELETE-light-vibe);
  --op-get-by-id: var(--GET-light);
  --op-post: var(--POST-light);
  --op-put: var(--PUT-light);
  --op-patch: var(--PATCH-light);
  --op-delete: var(--DELETE-light);
  --op-get-by-id-mute: var(--GET-light-mute);
  --op-post-mute: var(--POST-light-mute);
  --op-put-mute: var(--PUT-light-mute);
  --op-patch-mute: var(--PATCH-light-mute);
  --op-delete-mute: var(--DELETE-light-mute);
  --op-delete-warning: var(--DELETE-light-warn);
}

[data-theme='dark'] {
  --background-1: var(--grey-1000);
  --background-2: var(--grey-700);
  --background-3: var(--grey-1100);
  --background-focus-1: var(--grey-1050);
  --background-hover-1: var(--grey-1010);

  --text-1: var(--grey-150);
  --text-2: var(--grey-200);
  --text-3: var(--grey-300);
  --text-4: var(--grey-400);
  --btn-text-1: var(--grey-200);
  --text-contrast: var(--white-150);
  --text-mid-grey: var(--grey-650);
  --text-mute-0: var(--grey-550);
  --text-mute-1: var(--grey-450);
  --text-mute-2: var(--grey-550);

  --border-0: var(--grey-500);
  --border-1: var(--grey-500);
  --border-mute: var(--grey-600);
  --border-mute-2: var(--grey-650);
  --border-contrast-0: var(--grey-450);
  --border-contrast-1: var(--grey-400);
  --border-contrast-2: var(--grey-350);

  --op-border-1: var(--grey-250);
  --get-by-id-op-border: var(--grey-350);
  --post-op-border: var(--grey-350);
  --put-op-border: var(--grey-350);
  --patch-op-border: var(--grey-350);
  --delete-op-border: var(--grey-350);

  --btn-passive-1: var(--grey-650);
  --btn-passive-2: var(--grey-550);
  --btn-passive-3: var(--blue-900);
  --btn-passive-1-hover: var(--grey-550);
  --btn-warning-1: var(--red-900);
  --btn-focus-0: var(--grey-1000);
  --btn-focus-1: var(--grey-1030);
  --btn-focus-2: var(--grey-1050);
  --btn-focus-3: var(--grey-1080);
  --btn-focus-4: var(--grey-1100);
  --btn-focus-5: var(--grey-1120);
  --btn-inactive-1: var(--grey-1000);
  --btn-inactive-hover-1: var(--grey-1010);
  --btn-inactive-hover-2: var(--grey-1000);
  --btn-disabled-1: var(--grey-900);
  --btn-option-1: var(--grey-500);
  --btn-option-2: var(--grey-100);

  --op-btn-focus-2: var(--grey-1080);
  --op-btn-focus-3: var(--grey-1080);
  --op-btn-focus-4: var(--grey-1120);

  --base-url-text: var(--blue-250);
  --url-endpoint-text: var(--red-250);
  --url-id-param-text: var(--green-250);
  --url-query-param-text: var(--magenta-250);

  --status-none: var(--grey-750);
  --status-info: var(--blue-700);
  --status-ok: var(--green-500);
  --status-redirect: var(--purple-700);
  --status-error: var(--red-800);
  --status-server: var(--red-1000);
  --status-text-1: var(--white);
  --status-text-2: var(--white);

  --scrollbar: var(--grey-1100);
  --scrollbar-hover: var(--grey-1200);

  --op-get-by-id-vibe: var(--GET-dark-vibe);
  --op-post-vibe: var(--POST-dark-vibe);
  --op-put-vibe: var(--PUT-dark-vibe);
  --op-patch-vibe: var(--PATCH-dark-vibe);
  --op-delete-vibe: var(--DELETE-dark-vibe);
  --op-get-by-id: var(--GET-dark);
  --op-post: var(--POST-dark);
  --op-put: var(--PUT-dark);
  --op-patch: var(--PATCH-dark);
  --op-delete: var(--DELETE-dark);
  --op-get-by-id-mute: var(--GET-dark-mute);
  --op-post-mute: var(--POST-dark-mute);
  --op-put-mute: var(--PUT-dark-mute);
  --op-patch-mute: var(--PATCH-dark-mute);
  --op-delete-mute: var(--DELETE-dark-mute);
}
