#control-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-2);
  padding: 10px;
  margin: 0 auto;
}

.control-icon {
  width: 40px;
}
